<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="WarhammerDBEntities" connectionString="metadata=res://*/dbo.WarhEntities.csdl|res://*/dbo.WarhEntities.ssdl|res://*/dbo.WarhEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\v11.0;initial catalog=WarhammerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>